{% extends "registration/pattern.html" %}

{% block content %}
	<div  id="div_botonanterior_ordenador">
    	<button class="boton-anterior" onclick="goBack()"><i class="fa fa-angle-left"></i></button>
    </div>
	<nav class="navbar navbar-default" id="navbar_movil" >
		<div class="container-fluid">
			<div class="navbar-header">

					<button class="boton-anterior" onclick="window.location.href={% url 'logout' %}"><i class="fa fa-angle-left"></i></button>

				<a class="navbar-brand" href="https://www.orange.es/"><p class="h4">Orange</p><p class="h5">Service Factory</p></a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar_usuario_id">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			</div>
		    <div class="collapse navbar-collapse" id="navbar_usuario_id">

		        <ul class="nav navbar-nav navbar-right lista-navbar ">
			      <li><a href="{% url 'logout' %}"><span class="fa fa-sign-out fa-lg"></span> Salir</a></li>
			    </ul>
		    </div>
	    </div>
	</nav>

<form method="POST" action = "{% url 'tarea_detail' pk=tarea.pk %}">
{% csrf_token %}
{% if user.is_authenticated %}
	<div class="col-xs-12">
		{% if messages %}
		{% for message in messages %}
		<div class="" role="alert">
			<center>{{ message }}</center>
		</div>
		{% endfor %}
		{% endif %}
	</div>

  <div class="container-fluid container-horas">
    <div class="row">
	    <div class="col-md-4 col-md-offset-4 boton horas">
				<p class="h3"> {{tarea.project}} </p><p class="h3"> {{tarea.name}}</p>
	    </div>
			<div class="col-md-4 col-md-offset-4 boton horas">
				<div class="form-group">
	    		<label class="control-label">Fecha </label>
	    		<input type="date" class="form-control" id = "date" name="date" placeholder="Date" autocomplete="off" value = '{{today}}'>
	    		<div class="horas" style="  ">
		    		<input class="form-control input-lg" id="inputlg" type="number" min="0" max="8" value="0" name = "horas"><p style="margin: 10px 3px 0px 3px">:</p>
		    		<input class="form-control input-lg" id="inputlg" type="number" min="0" max="59" value="0" name = "minutos">
		    	</div>
	    	</div>
	    </div>
	    <div class="col-md-4 col-md-offset-4 boton horas" >
	      <button class="registrar" id="boton_registrar">
	       <p> Registrar </p>
	      </button>
	    </div>
		</div>
  </div>
	{% else %}
	<form method="POST" action = "{% url 'login' %}"></form>
{% endif %}
</form>

{% endblock %}
