{% extends "registration/pattern.html" %}

{% block content %}
	<div  id="div_botonanterior_ordenador">
    	<button class="boton-anterior" onclick="goBack()"><i class="fa fa-angle-left"></i></button>
    </div>
	<nav class="navbar navbar-default" id="navbar_movil">
		<div class="container-fluid">
			<div class="navbar-header">

					<button class="boton-anterior" onclick="window.location.href="{% url 'logout' %}""><i class="fa fa-angle-left"></i></button>

				<a class="navbar-brand" href="{% url 'logout' %}"><p class="h4">Orange</p><p class="h5">Service Factory</p></a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar_usuario_id">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			</div>
		    <div class="collapse navbar-collapse" id="navbar_usuario_id">

		        <ul class="nav navbar-nav navbar-right lista-navbar ">
			      <li><a {% url 'logout' %}><span class="fa fa-sign-out fa-lg"></span> Salir</a></li>
			    </ul>
		    </div>
	    </div>
	</nav>

  <div class="container-fluid container-tareas">
    <div class="row ">
			{% if user.is_authenticated %}
	    <div class="col-md-12 boton">
	    	<p class="h3">{{project.name}}</p>
	    </div>
			{% for tarea in tareas %}
    	<div class="col-md-12 boton">
	      <button class="tarea" onclick="window.location.href='{% url 'tarea_detail' pk=tarea.pk %}'">
	        <p class="h4">{{ tarea.name }}</p>
	      </button>
	  </div>
		{% endfor %}
		{% else %}
		<form method="POST" action = "{% url 'login' %}"></form>
		{% endif %}
    </div>
  </div>
{% endblock %}
